body {
  background-color: #efefef; }

.container {
  width: 90%; }

h1 {
  font-size: 72px;
  color: #777; }

.btn-outline-primary,
.btn-outline-success,
.btn-outline-danger {
  width: 200px;
  height: 55px;
  font-size: 32px;
  line-height: 35px; }

.btn-primary {
  background-color: #fff; }

#template {
  display: none; }

.menu a:not([href]):not([tabindex]) {
  color: #777; }
  .menu a:not([href]):not([tabindex]):hover {
    color: #fff;
    cursor: pointer; }

.card {
  border: 1px solid #bdc3c7;
  width: 17em;
  box-shadow: 3px 4px 18px 0px gray;
  transition: .5s box-shadow; }
  .card:hover {
    cursor: pointer;
    box-shadow: none; }
    .card:hover .stream-btn {
      background-color: #2980b9;
      color: #fff; }
  .card img {
    width: 70%;
    height: auto;
    margin: 0 auto; }
  .card .card-title {
    color: #555; }
  .card .card-text {
    color: #666; }
  .card .stream-btn {
    border-color: #2980b9;
    color: #2980b9; }

@media screen and (min-width: 320px) {
  .card {
    border: 1px solid #bdc3c7;
    width: 25em;
    box-shadow: none;
    transition: none; } }

@media screen and (min-width: 768px) {
  .card {
    border: 1px solid #bdc3c7;
    width: 20em;
    box-shadow: none;
    transition: none; } }

@media screen and (min-width: 1024px) {
  .card {
    border: 1px solid #bdc3c7;
    width: 17em;
    box-shadow: 3px 4px 18px 0px gray;
    transition: .5s box-shadow; }
    .card:hover {
      cursor: pointer;
      box-shadow: none; }
      .card:hover .stream-btn {
        background-color: #2980b9;
        color: #fff; } }
